:root {
    --primary-clr-100: #222831;
    --primary-clr-200: #393E46;
    --primary-clr-300: #4e535a;
    --secondary-clr: #eeeeee;
    --accent-clr: #ffd369;
    --radius: 10px;
}


@font-face {
    font-family: EnglishFont;
    src: url(Poppins.ttf);
}

@font-face {
    font-family: sport;
    src: url(E.ttf);
}

@keyframes ghost {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-family: EnglishFont;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-container {
    width: 100%;
    min-height: 60px;
    background: var(--primary-clr-300);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    box-shadow: black 0px 0px 7px 0px;
    color: var(--secondary-clr);
}

.menu-item 
{
    width: 200px;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
	margin:0 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    position: relative;
	transform:skewX(345deg);
}

.menu-item span
{

padding:18px;
}



.menu-item:hover {
    background: var(--primary-clr-200);
}

.menu-item img {
    width: 20px;
    margin-left: 7px;
}

@media (max-width: 900px) {
    .coming-soon {
        display: none;
    }
}

.submenu-container {
    position: absolute;
    top: 70px;

    background: var(--primary-clr-300);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: column;
    color: var(--secondary-clr);
    display: none;
    transform: skewX(15deg) translateX(30px);
}

.submenu-item {
    transition: all 0.1s;
    width: 200px;
    padding: 10px;

}

.submenu-item:hover {
    background: var(--primary-clr-200);
}

.hover-fixer-div {
    height: 30px;
    width: 200px;
    background: black;
    position: absolute;
    top: -30px;
    opacity: 0;
}

footer {
    display: flex;
    background-color: var(--primary-clr-300);
    box-shadow: black 0px 0px 7px 0px;
    color: var(--secondary-clr);
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 12rem;
    padding: 0 4rem;
}

.footer-container {
    display: flex;
    margin: 1.5rem;
}

.footer-container>* {
    opacity: 0.5;
    flex-basis: 100%;
    margin-right: 2rem;
}

.footer-item {
    display: flex;
    flex-direction: column;
}

.footer-item>*+* {
    margin-top: 0.5rem;
}

@media (max-width: 940px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-container>*+* {
        margin-top: 2rem;
    }
}

.social-media-icons {
    margin-top: 0.5rem;
	display:flex;
	justify-content:center;
	align-items:center;
	align-content:center;
	flex-direction:row;
    width: 100%;
}

.social-media-icons>*+* {
    margin-left: 1.5rem;
}

.social-media-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    justify-content: space-around;
}

.read-more {
    background: var(--primary-clr-200);
    color: var(--secondary-clr);
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.read-more:hover {
    background: var(--primary-clr-100);
}

.read-more-div {
    margin-top: 1.1rem;
}

.main-page-container-part-2
{
width:100%;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
margin:20px 0;
}
.main-page-section-left
{
width:8%;
}

.main-page-section-left > div
{
with:90%;
height:600px;
background:#EEEEEE;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
border-radius:10px;
}

.main-page-section-right
{
width:90%;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
}

.main-page-section-right > .main-page-text-section
{
width:45%;
background:#E7E7E7;
height:300px;
display:flex;
justify-content:space-around;
align-items:center;
align-content:center;
flex-direction:column;
margin:10px;
padding:20px;
border-radius:10px;
text-align:center;
box-shadow: black 9px 9px 10px -13px;
}

.main-page-section-right > .main-page-text-section > span
{
font-family:sport;
font-size:30px;
}

.main-page-container-part-3
{
width:100%;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:column;
}

.part-3-title
{
font-size:30px;
font-family:sport;
border-bottom:3px solid black;
padding:5px 20px;
}

.part-3-desc
{
margin-top:20px;
}

.media-section
{
width:90%;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:column;
}

.media-section div
{
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
}

.media-section img
{
width:500px;
margin:30px;
border-radius:10px;
}