:root {
    --primary-clr-100: #222831;
    --primary-clr-200: #393E46;
    --primary-clr-300: #4e535a;
    --secondary-clr: #eeeeee;
    --accent-clr: #ffd369;

    --radius: 10px;
}


@font-face {
    font-family: EnglishFont;
    src: url(Poppins.ttf);
}

@keyframes ghost {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-family: EnglishFont;
}

.menu-container {
    width: 100%;
    height: 60px;
    background: var(--primary-clr-300);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    box-shadow: black 0px 0px 7px 0px;
    color: var(--secondary-clr);
}

.menu-item {
    width: 200px;
    margin: 20px;
    cursor: pointer;
    transition: all 0.2s;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    position: relative;
}

.menu-item:hover {
    background: var(--primary-clr-200);
}

.menu-item img {
    width: 20px;
    margin-left: 7px;
}

@media (max-width: 670px) {
    .coming-soon {
        display: none;
    }
}

.submenu-container {
    position: absolute;
    top: 60px;
    background: var(--primary-clr-300);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: column;
    color: var(--secondary-clr);
    display: none;
}

.submenu-item {
    transition: all 0.1s;
    width: 200px;
    padding: 10px;

}

.submenu-item:hover {
    background: var(--primary-clr-200);
}

.hover-fixer-div {
    height: 20px;
    width: 200px;
    background: black;
    position: absolute;
    top: -20px;
    opacity: 0;
}

footer {
    display: flex;
    background-color: var(--primary-clr-300);
    box-shadow: black 0px 0px 7px 0px;
    color: var(--secondary-clr);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 12rem;
    padding: 0 4rem;
}

.footer-container {
    display: flex;
    margin: 1.5rem;
}

.footer-container>* {
    opacity: 0.5;
    flex-basis: 100%;
    margin-right: 2rem;
}

.footer-item {
    display: flex;
    flex-direction: column;
}

.footer-item>*+* {
    margin-top: 0.5rem;
}

@media (max-width: 940px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-container>*+* {
        margin-top: 2rem;
    }
}

.social-media-icons {
    margin-top: 0.5rem;
    display: flex;
    width: 100%;
}

.social-media-icons>*+* {
    margin-left: 1.5rem;
}

.social-media-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    justify-content: space-around;
}

.read-more {
    background: var(--primary-clr-200);
    color: var(--secondary-clr);
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.read-more:hover {
    background: var(--primary-clr-100);
}

.read-more-div {
    margin-top: 1.1rem;
}