:root {
    --primary-clr-100: #222831;
    --primary-clr-200: #393E46;
    --primary-clr-300: #4e535a;
    --secondary-clr: #eeeeee;
    --radius: 10px;
}

@font-face {
    font-family: EnglishFont;
    src: url(Poppins.ttf);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button,
select {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

select:focus {
    border: none;
    outline: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.earth-icon {
    width: 30px;
    align-self: center;
}

select {
    padding: 5px;
    background-color: transparent;
    color: var(--primary-clr-200);
    opacity: 0.7;
    z-index: 2;
}

option {
    cursor: pointer;
    color: rgba(245, 245, 245, 0.788);
    background-color: var(--primary-clr-200);
}

html {
    font-family: EnglishFont;
}

body {
  background: #aaaaaa4f;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar__logo {
    color: var(--primary-clr-200);
    font-size: 2rem;
}

.navbar {
    display: flex;
    width: 100%;
    padding: 1rem 4rem;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

.description {
    color: var(--primary-clr-100);
    max-width: 40ch;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

#language-select
{
font-size:20px;
}

@media only screen and (max-width: 600px) {
.description {
font-size: 1rem;
	}
}

@media only screen and (max-width: 430px) {
.description {
font-size: 0.8rem;
	}
}

.btn {
    padding: 0.8rem 1.6rem;
    margin: 0.5rem;
    border-radius: var(--radius);
    background-color: var(--primary-clr-200);
    color: var(--secondary-clr);
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 0.2s;
    width: 8rem;
}

#intro-video
{
position:fixed;
left: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
z-index:-1;
opacity:0.2;
}

.home-button {
    width: 17.2rem;
}

.btn:hover {
    box-shadow: 0 0 2px var(--primary-clr-100);
    transform: scale(1.04);
}