:root {
    --primary-clr-100: #222831;
    --primary-clr-200: #393E46;
    --primary-clr-300: #4e535a;
    --primary-clr-400: #64696f;
    --primary-clr-600: #919498;
    --primary-clr-800: #bdbfc1;
    --primary-clr-900: #d3d4d6;
    --secondary-clr: #eeeeee;
    --accent-clr: #ffd369;

    --radius: 10px;
}

@font-face {
    font-family: EnglishFont;
    src: url(Poppins.ttf);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button,
select {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

input,
textarea {
    font-family: inherit;
    border: none;
    outline: none;
    resize: none;
}

select:focus {
    border: none;
    outline: none;
}

li {
    list-style: none;
}

body {
    font-family: EnglishFont;
    background-color: var(--primary-clr-900);
    display: flex;
    align-self: stretch;
}

.sidebar {
    --vertical-padding: 1rem;

    min-width: 13rem;
    min-height: 100vh;
    background-color: var(--primary-clr-200);
    box-shadow: black 0px 0px 7px 0px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.sidebar>*+* {
    border-top: var(--accent-clr) 0.5px solid;
}

.sidebar>h2 {
    text-align: center;
    color: var(--accent-clr);
    font-weight: 400;
    padding: var(--vertical-padding) 0;
}

.sidebar__item {
    --accent-clr-filter: brightness(0) saturate(100%) invert(74%) sepia(55%) saturate(399%) hue-rotate(353deg) brightness(103%) contrast(103%);

    color: var(--secondary-clr);
    padding: var(--vertical-padding) 2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.sidebar__item:hover {
    color: var(--accent-clr);
    background-color: var(--primary-clr-300);
}

.sidebar>li {
    display: flex;
    align-items: center;
}

.sidebar__img {
    width: 18px;
    height: 18px;
    margin-right: 0.4rem;
}

.sidebar__item:hover .sidebar__img {
    filter: var(--accent-clr-filter);
}

.active {
    color: var(--accent-clr);
    background-color: var(--primary-clr-300);
}

.active .sidebar__img {
    filter: var(--accent-clr-filter);
}

/* Source */

.source {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    border: 1px solid var(--primary-clr-300);
    border-radius: var(--radius);
    background-color: var(--primary-clr-800);
    color: var(--primary-clr-100);
}

.card>h2 {
    font-size: 2rem;
    border-bottom: 1px solid var(--primary-clr-300);
    width: 100%;
}

.card>p {
    font-size: 1.2rem;
}

.card>*+* {
    margin-top: 1rem;
}

.card__button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: var(--radius);
    background-color: var(--primary-clr-200);
    color: var(--secondary-clr);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.card__button:hover {
    color: var(--accent-clr);
}

@media (max-width: 1100px) {
    .source {
        grid-template-columns: 1fr;
    }
}

/* Support */

.support {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
    padding: 4rem 2rem;
}

.support__form {
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: var(--radius);
    background-color: var(--primary-clr-800);
    padding: 2rem;
}

.support__form>*+* {
    margin-top: 1rem;
}

.support__form>input {
    min-width: 100%;
    padding: 1rem;
    border-radius: var(--radius);
    background-color: var(--secondary-clr);
    border: 1px solid var(--primary-clr-300);
}

.support__form>textarea {
    min-width: 100%;
    min-height: 10rem;
    padding: 1rem;
    font-size: 1.1rem;
    border: 1px solid var(--primary-clr-300);
    background-color: var(--secondary-clr);
    border-radius: var(--radius);
}

.support__form>button {
    align-self: flex-start;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: var(--radius);
    background-color: var(--primary-clr-200);
    color: var(--secondary-clr);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.support__form>button:hover {
    color: var(--accent-clr);
}

.support__form>input:focus,
.support__form>textarea:focus {
    outline: 1.5px solid var(--primary-clr-100);
}